.body {
    background-color: #e5e5e5ef;
}

.menu-options {
    background: transparent;
    backdrop-filter: blur(20px);
    font-weight: bold;
    color: white;
}

nav {
    z-index: 4;
}

.nav-brand {
    font-size: 1.5em;
}

.form {
    max-width: 400px;
    border-radius: 20px
}

.hero-section {
    border-bottom: 2px solid #2e2e2e;
    margin-top: 55px;
}

.subscribe-btn {
    padding: 10px;
    border: none;
    border-radius:  0 10px 10px;
}

.subscribe {
    background-color: black;
    color: white;
}

.subscribed {
    background-color: white;
    color: black;
}

.header-link:hover {
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.info img {
    height: 100px;
}

.review-card, .dedication-card {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.reviews-container {
  overflow: hidden;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 0;
}

.reviews {
  display: flex;
  animation: scroll 20s linear infinite;
}

.review {
  flex: 0 0 auto;
  min-width: 300px;
  margin-right: 20px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer img {
    height: 100px;
}

.footer-info small {
  color: rgb(204, 191, 191);
  cursor: pointer;
}

.footer-info small:hover {
    color: white;
}

.footer-bottom {
    border-top: 1px solid rgb(184, 158, 158);
}


