.body {
    background-color: #e5e5e5ef;
}

.menu-options {
    background: transparent;
    backdrop-filter: blur(20px);
    font-weight: bold;
    color: white;
}

nav {
    z-index: 4;
}

.nav-brand {
    font-size: 1.5em;
}

.form {
    max-width: 400px;
    border-radius: 20px
}

.hero-section {
    border-bottom: 2px solid #2e2e2e;
    margin-top: 55px;
}

.subscribe-btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #f8d7da;
    color: #dc3545;
    transform: scale(1.1);
}

.header-link:hover {
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.info img {
    height: 100px;
}

.review-card, .dedication-card {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.reviews-container {
  overflow: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  flex: 0 0 auto;
}

.review-text {
  overflow: visible;
  white-space: normal;
  display: block;
}

.reviews {
  display: flex;
  animation: scroll 30s linear infinite;
  width: max-content; /* Ensures the width adapts to the content */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.reviews-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: none; /* Optional: Removes default card border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1);
}

.reviews-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 
              0 15px 40px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.footer img {
    height: 100px;
}

.footer-info small {
  color: rgb(204, 191, 191);
  cursor: pointer;
}

.footer-info small:hover {
    color: white;
}

.footer-bottom {
    border-top: 1px solid rgb(184, 158, 158);
}


